/* NavBar.css */
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@400;700&display=swap');

body, html {
    font-family: 'Smooch Sans', sans-serif;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0 5px;
}

.parkingLogo .myLogo {
    margin-left: 10px;
    height: 60px;
    width: 60px;
}

.navItems {
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 0 20px;
}

.navItems-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navItems-list li {
    margin: 0 20px;
    font-size: 22px;
    color: black;
    cursor: pointer;
    position: relative;
    transition: color 0.3s;
}

.navItems-list li:hover {
    color: #F4D424;
}

.navItems-list .serviceTag {
    position: relative;
}

.navItems-list .serviceTag:hover .dropdown-menu {
    display: block;
}

.navLogSign {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.profileLogo {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    border-radius: 50%;
}

.navLogIn {
    color: #F4D424;
    text-decoration: none;
    margin-left: 10px;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #F4D424;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.navRegister {
    color: #F4D424;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #F4D424;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.navLogIn:hover,
.navRegister:hover {
    background-color: #F4D424;
    color: #282c34;
}

@media (max-width: 768px) {
    .navBar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .navItems {
        width: 100%;
        order: 2;
        margin: 10px 0;
    }

    .navItems-list {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 0;
    }

    .navItems-list li {
        width: 100%;
        padding: 10px 0;
    }

    .navLogSign {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        order: 3;
    }

    .profileLogo {
        height: 30px;
        width: 30px;
    }

    .navLogIn,
    .navRegister {
        width: 48%;
        text-align: center;
        margin: 5px 0;
    }
}
